@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600);

*{
  box-sizing:border-box;
}
html,body{
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Open Sans';
}
body{
  opacity:0;
  transition: all 1s linear;
}

.divider{
  height: 150px;
  width:2px;
  background-color: #C0C9CE;
  position: relative;
  top: 50%;
  float: left;
  transform: translateY(-50%);
}

#background-stats-1{
  background-color: #1481BA;
}

#background-stats-2{
  background-color: #F56476;
}

#content-container{
  z-index:2;
  position:relative;
  margin: 0 auto;
  display:table;
  padding:10px;
  max-width:940px;
  height:100%;
}
#content-container-center{
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}
#result{
  z-index: 3;
  /*position: absolute;*/
  margin-top: 25px;
  margin-bottom: 25px;
  right: 20px;
  color: #fff;
  opacity: 0.5;
  font-size: 45px;
  font-weight: 600;
}
#choice{
  transition: all 300ms linear;
  line-height:1.3em;
  background:#fff;
  box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
  vertical-align:middle;
  font-size:40px;
  font-weight: 600;
  width: 450px;
  height: 200px;
}
#choice a{
  text-decoration:none;
}
#choice a:hover, #choice a:focus{
  outline:0;
  text-decoration:underline;
}

#choice .choice{
  width: 49%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  padding-left: 50px;
}

#choice .choice .label{
  text-transform: uppercase;
  font-size: 40px;
}

#choice .choice.item-b{
  color: #F56476;
  float: right;
}

#choice .choice.item-a{
  color: #1481BA;
  float: left;
}

#background-stats{
  z-index:1;
  height:100%;
  width:100%;
  position:absolute;
}
#background-stats div{
  transition: width 400ms ease-in-out;
  display:inline-block;
  margin-bottom:-4px;
  width:50%;
  height:100%;
}

#version{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.choice-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

#choice .choice {
  justify-content: center;
  align-items: center;
}

#credits {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.credits-image {
  height: 30px;
}