<div id="background-stats" [ngStyle]="{'opacity': opacity}">
  <div id="background-stats-1" [ngStyle]="{'width': aPercent}"></div>
  <div id="background-stats-2" [ngStyle]="{'width': bPercent}"></div>
</div>
<div id="content-container">
  <div id="content-container-center">
    <div id="result">
      <div id="version">_VERSION_</div>
      <span *ngIf="total == 0">No votes yet</span>
      <span *ngIf="total == 1">{{total}} vote</span>
      <span *ngIf="total >= 2">{{total}} votes</span>
    </div>
    <div id="choice">
      <div class="choice item-a">
        <!-- Image or Label for A -->
        <div *ngIf="imageAUrl && isImageAValid; else showLabelA">
          <img [src]="imageAUrl" alt="itemA" class="choice-image" (error)="onImageError('item-a')">
        </div>
        <ng-template #showLabelA>
          <div class="label">{{labelA}}</div>
        </ng-template>
        <div class="stat">{{aPercent}}</div>
      </div>

      <div class="divider"></div>

      <div class="choice item-b">
        <!-- Image or Label for B -->
        <div *ngIf="imageBUrl && isImageBValid; else showLabelB">
          <img [src]="imageBUrl" alt="itemB" class="choice-image" (error)="onImageError('item-b')">
        </div>
        <ng-template #showLabelB>
          <div class="label">{{labelB}}</div>
        </ng-template>
        <div class="stat">{{bPercent}}</div>
      </div>
    </div>
  </div>
</div>

<div id="credits" *ngIf="creditsImageUrl && isCreditsImageValid">
  <a [href]="creditsLink" target="_blank">
    <img [src]="creditsImageUrl" alt="credits" class="credits-image" (error)="onImageError('credits')">
  </a>
</div>